@media (max-width: 425px) {   
    /* Global safety */
    html, body{
        box-sizing: border-box;
        width: 100%;
        padding-top: 50px;
        overflow-x: hidden;  /* mencegah horizontal scroll */
    }

    *, *::before, *::after { box-sizing: inherit; }

    header{
        position: fixed;
        height: 50px;
    }

    /* Home page */
    header ul{
        display: none;
    }
    
    header .box-icons {
        display: none;
    }

    header h1{
        font-size: 25px;
    }

    .blackhole-box video{
        margin-top: -16%;
    }

    .blackhole-box, 
    .hero-vid-box{
        overflow: hidden;
    }

    .hero{        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .autoBlur{
        animation: none;
    }

    .hero-info{
        top: 15%;
        margin-left: 30px;
        max-width: 300px;        
    }

    .hero-info-title{
        margin-bottom: -25px;
        font-size: 13px;
    }

    .hero-info h1{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: -5px;
    }    

    .hero-info p{
        margin-bottom: 20px;
        font-size: 16px;
    }

    .hero-vid-box{
        height: 400px;
        width: 400px;
        position: relative;        
        transform: translateY(20%);
        justify-content: center;
        mix-blend-mode: screen;
    }
    .hero-vid-box video{
        width: 400px;
        height: 400px;
        mix-blend-mode: screen;
    }

    .scroll-down{
        display: none;
        animation: none;
    }

    /* Info Cards */
    .info-section{
        margin-top: -200px;
    }
    .section-title{
        width: 200px;
    }
    .card h1{
        font-size: 24px;
        line-height: 25px;
    }

    .info-cards{
        padding-top: 70px;
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .card:nth-child(1) {
        height: auto;
        min-height: 250px;
    }
    .card:nth-child(2) {
        height: auto;
        min-height: 260px;
    }
    .card:nth-child(2) img {
        height: 150px;
        width: 150px;
    }
    .card:nth-child(3) {
        height: auto;
        min-height: 450px;
    }
    .card:nth-child(4) {
        height: auto;
        min-height: 300px;
    }    
    .card:nth-child(4) h1 {
        margin-bottom: 10px;
    }

    .project-card{
        display: flex;
        flex-direction: column;        
        margin-bottom: -50px;
    }

    .section-title{
        font-size: 24px; 
        margin-bottom: -50px;       
    }

    .project-vidbox {
        height: 308px;
        margin-bottom: -50px;
    }

    .project-vidbox video {
        max-width: 300px;        
    }
    .project-info{
        max-width: 300px;        
    }
    .project-info:nth-child(3){
        margin-top: 20px;
    }
    .project-info h1{
        font-size: 18px;
    }
    .project-info p{
        margin-bottom: 20px;
        font-size: 12px;
    }

    /* Skills */
    .skills-box h1{
        font-size: 24px;        
    }

    .skills-box p{
        font-size: 12px;
    }

    .skills-box img{
        margin-top: 100px;
    }
    
    .designer{
        margin-top: 120px;        
        left: 0;
        right: 0;
        width: 100%;
        max-width: 520px;
        padding: 16px;             
    }    

    .coder{
        margin-top: 300px;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 520px;
        padding: 16px;        
    }
    .coder h1,
    .designer h1{
        margin-bottom: -8px;
    }

    .slider .list .item img{
        width: 30%;
    }

    
    .contact-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-section h1{
        top: -5%;
    }

    .social-box {        
        width: 100%;
        transform: translateY(-30%);
    }

    .social-box-describe{        
        gap: 10px;
    }

    .social-box-describe a{
        font-size: 16px;
    }

    .copy-right{
        display: none;
    }

    .social-icon{
        display: flex;                
        margin-top: 20px;
    }

    .social-icon a{
        height: 40px;
        width: 40px;        
        align-items: center;
        justify-content: center;
        margin: 10px;        
    }

    .social-icon a i{        
        margin-top: 0;
    }

    .contact-box{
        margin-top: -1px;
        font-size: 16px;
    }

    .menu-icon{
        display: inline;
        touch-action: manipulation;
    }


    .contact-box input{
        height: 30px;
        padding: 7.5px 15px;
    }

    .contact-box textarea{
        height: 100px;
        padding: 7.5px 15px;
    }
}
